body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: #7b8fa1;
}
.container.blurred {
  filter: blur(5px);
}

.container {
  display: flex;
  flex-direction: column;
}

.overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #567189;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 3;
}

.header {
  background-color: #567189;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 5px solid black;
  width: 100%;
}

.counter {
  background-color: #cfb997;
  border: 2px solid black;
  border-radius: 15px;
  width: 380px;
  margin-bottom: 20px;
  text-align: center;
}

.library-container {
  display: grid;
  gap: 10px;
  grid-template-rows: 150px;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
}

.book-container {
  gap: 10px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background-color: #cfb997;
  box-shadow: 3px 5px 5px -1px rgba(0, 0, 0, 0.75);
}

.add-book {
  text-align: right;
  padding-right: 75px;
}

.add-book-button {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: #fad6a5;
  font-weight: bolder;
  font-size: 24px;
}
